.containerPrincipal {
  border: 1px solid red;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerButtons {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  /* border: 1px solid blue; */
}

.containerImage {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
