.principalContainer {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding-top: 1rem;
}

.containerDesign {
  border: 2px solid green;
  border-radius: 10px;
  width: 30rem;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  position: relative;
  padding: 1.5rem;
  gap: 2rem;
}

.containerInformation > h2 {
  /* border: 1px solid red; */
  padding: 0 0.5rem;
  position: absolute;
  top: -15px;
  left: 25px;
}

.imageDesign {
  border: 2px solid black;
  object-fit: cover;
}

.containerText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.infoModal {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.containerDelete {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.buttonsModal {
  /* border: 1px solid red; */
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.buttonsModal button {
  /* border: 1px solid blue; */
  width: 40%;
  height: 60%;
}

.deleteElement {
  filter: grayscale(100%);
  pointer-events: none;
  opacity: 0.4;
}

.containerInformation {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media screen and (max-width: 720px) {
  .containerDesign {
    flex-direction: column;
    gap: 2rem;
    padding-top: 3rem;
  }
}

@media screen and (max-width: 520px) {
  .containerDesign {
    padding: 2rem;
    padding-bottom: 5rem;
  }
}
