.header {
  height: 18vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1.5rem solid #68bb6c;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  color: #1c5f20;
}

.openUser, .initPage, .homeUser {
  display: flex;
  align-items: center;
  gap: 1rem;
}