.containerUserBox {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.userBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
}

.containerUser {
  display: flex;
  align-items: center;
  gap: 1rem;
  /* border: 5px solid red; */
}

.containerUserBox button:last-child {
  /* border: 2px solid green; */
  position: absolute;
  bottom: 1.5rem;
  right: 1rem;
}

.containerUpdate {
  width: 100%;
}

.updateAvatar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.previewAvatar {
  border: 1px solid green;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
}

.buttonViewUsers {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}

.containerUserBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.containerUserBox h3 > span,
.containerOtherUsers h3 > span {
  font-weight: 100;
}

.deleteElement {
  filter: grayscale();
}

.deleteElement > button {
  display: none;
}

.containerDelete {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.buttonsModal {
  /* background-color: red; */
  display: flex;
  gap: 1rem;
}

.containerDelete button:last-child {
  /* border: 2px solid blue; */
  display: flex;
  position: relative;
  top: 0;
  right: 0;
}