.containerText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  text-align: justify;
}

.containerText h3 > span,
.containerList li > span,
.containerList li {
  font-weight: lighter;
  font-size: 1rem;
}

.containerList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.containerImages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.3rem;
}

.images {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
}

.modalImage {
  border: 2px solid black;
  object-fit: cover;
}
