.containerTitle {
  margin-top: 2rem;
}

.containerCards {
  /* border: 1px solid red; */
  padding: 1rem 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  height: auto;
}

.containerButtonBack {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
