.containerForm {
  /* border: 2px solid red; */
  width: 100%;
  /* height: 70vh; */
  display: flex;
}

.containerLeft {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 3px solid green; */
  gap: 1rem;
  padding: 2rem 0;
  width: 60%;
  height: auto;
}

.inputBox {
  position: relative;
  width: 250px;
}

.inputBox input {
  width: 100%;
  padding: 15px;
  font-size: 1em;
  background: transparent;
  border-radius: 8px;
  color: black;
}

.inputBox textarea {
  border: 2px solid black;
  border-radius: 8px;
  padding: 15px;
  width: 100%;
  resize: none;
  height: 100%;
}

.inputBox span,
.selectBox span,
.containerImage span,
.inputImage span:first-child {
  margin-top: 5px;
  position: absolute;
  left: 15px;
  top: -18px;
  font-size: 0.9em;
  padding: 5px 10px;
  border-radius: 8px;
}

.selectBox {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: 2px solid black;
  border-radius: 8px;
  width: 250px;
  padding: 15px;
  position: relative;
}

.selectBox select {
  border: transparent;
  display: flex;
  align-items: center;
  text-align: center;
}

.summary {
  /* border: 2px solid red; */
  width: 100% !important;
  height: 10rem;
}

.containerImage {
  background-color: transparent;
  border: 0.125rem dashed hsla(0, 0%, 0%, 0.858);
  padding: 5px 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  height: 4rem;
  position: relative;
}

.containerSup {
  /* border: 2px solid blue; */
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
  height: auto;
  padding: 0 2rem;
}

.containerMiddle {
  /* border: 2px solid blue; */
  display: flex;
  /* flex-direction: column; */
  justify-content: space-evenly;
  gap: 1rem;
  width: 100%;
  height: auto;
  padding: 0 2rem;
}

.inputCuriosities {
  width: 50%;
  border: 2px solid black;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
}

.containerInputs {
  /* border: 4px solid red; */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
}

.inputCuriosities button {
  width: 40%;
}

.inputSummary {
  width: 50%;
}

.containerLower {
  width: 100%;
  height: auto;
  padding: 0 2rem;
  display: flex;
  gap: 2rem;
}

.inputImage {
  border: 2px solid black;
  border-radius: 8px;
  width: 50%;
  height: auto;
  padding: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.buttonImages {
  /* border: 1px solid blue; */
  width: 100%;
  display: flex;
  gap: 1rem;
}

.inputImage input[type="file"] {
  display: none;
}

.beforeImages {
  background-color: rgba(222, 115, 115, 0.484);
  border: 2px dotted black;
  padding: 0.5rem;

  cursor: pointer;
}

.afterImages {
  background-color: rgba(0, 128, 0, 0.263);
  border: 1px solid black;
  padding: 0.5rem;
  cursor: pointer;
}

/* HACER ESTE BOTÓN UN COMPONENTE! */

.buttonModal {
  padding: 5px 15px;
  border: unset;
  border-radius: 15px;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
  cursor: pointer;
}

.buttonSend::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #398e3d;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px #68bb6c;
  box-shadow: 4px 8px 19px -3px #68bb6c;
  transition: all 250ms;
}

.buttonDelete::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #a11d1d;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px #a11d1d;
  box-shadow: 4px 8px 19px -3px #a11d1d;
  transition: all 250ms;
}

.buttonModal:hover {
  color: #e8e8e8;
}

.buttonModal:hover::before {
  width: 100%;
}

/* BUTTON SEND */

.buttonSendForm {
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  color: #1c5f20;
  transition: all 1000ms;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  outline: 2px solid #1c5f20;
  cursor: pointer;
  background-color: #a4d5a6;
}

.buttonSendForm:hover {
  color: #1c5f20;
  transform: scale(1);
  outline: 2px solid #1c5f20;
  box-shadow: 4px 5px 17px -4px #a4d5a6;
}

.buttonSendForm::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #68bb6c;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

.buttonSendForm:hover::before {
  width: 250%;
}
